<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form-using-bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/shop/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-Product">Add Product</a></li>
                <li class="main-header__item"><a href="/shop/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container border border-warning rounded">
            <div class="head">
                <h2>BOOK A CALL</h2>
                <p>Book a call slot and our representative will call you within 1hr of selected time.</p>
                <hr>
            </div>

            <form name="form1"  action="successful" method="POST" novalidate>
                <div class="form-floating">
                    <input type="text" id="name" class="form-control" placeholder="Name:" required>
                    <label for="name" class="form-label">Name:</label>
                    <br />
                </div>
                <div class="form-floating">
                    <input type="email" id="email" class="form-control" placeholder="Email:" required>
                    <label for="email" class="form-label">Email:</label>
                    <br />
                </div>
                <div class="form-floating">
                    <input type="number" id="number" class="form-control" placeholder="Number:" required>
                    <label for="number" class="form-label">Phone Number:</label>
                    <br />
                </div>

                <label for="date" class="form-label">Time for Call:</label>
                <div class="row">
                    <div class="col">
                        <input type="date" id="date" class="form-control" placeholder="Date:" required>
                    </div>
                    <div class="col">
                        <input type="time" id="time" class="form-control" placeholder="Time:" required>
                    </div>

                </div>
                <br />
                <button class="btn-success rounded ">GET A CALL</button>
                <br />

            </form>
        </div>
    </main>



</body>

</html>